@import url('https://fonts.googleapis.com/css2?family=Damion&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* background-color: red; */
}
.subNavLink{
    flex: 1.5;
    height: 50px;
    color: #282828;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.dropdown-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}


.drop{
    position: relative;
    display: inline-block;
}
.dropdownBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
}
.dropMenu{
    display: none;
    position: absolute;
    background-color: #f3f5f6;
    min-width: 165px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 3px;
    padding: 10px 30px 20px 30px;
    height: auto;
}
.dropItem{
    text-decoration: none;
    color: gray;
    font-size: 14px;
}
.drop:hover .dropMenu {
    display:flex;
    flex-direction: column;
}

/* .dropdown-menu[aria-labelledby = ddown] {
    background-color: #fbfbfd;
    max-width: 220px; 
    border-radius: 3px;
    position: absolute;
    margin-top: 10px;
    margin-left: -100px;
    padding: 20px 30px 20px 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}
 */


